<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/content/public/css/custom/main.css" />
    <link rel="shortcut icon" href="/requestfavicon.ico">
</head>

<body>

    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/content/public/images/nodeLogo.png" alt="nodeLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/movie/add">Add Movie</a></li>
                    <li><a href="/movies/all">View All Movies</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Here are your movies</h1>
    <div class="container main">
        <div  class="row">{{replaceMe}}</div>
    </div>
</body>

</html>